#verde1{
    background-color: greenyellow;
    height: 80px;
  }

  #verde2{
    background-color: greenyellow;
    height: 40px;
    
  }
  .rojo {
    background-color: red;
   
  }
  .violeta{
      background-color: violet;
      height: 60px;
     
      
  }
  .cafe{
      background-color: rgb(250, 79, 27);
      height: 140px;
     
  }
  .azul{
      background-color: blue;
      height: 100px;
  }

  #contenedor-violeta{
     background: white;
    
     
     
  }